/* IMPORT */

@font-face {
    font-family: "Flexo-Demi";
    src: url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.eot");
    src: url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.svg#Flexo-Demi")format("svg");
}

@font-face {
    font-family: "Flexo-Bold";
    src: url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.eot");
    src: url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6e1ef15c406d6f6aca64916d713fae18.svg#Flexo-Bold")format("svg");
}

@font-face {
    font-family: "Flexo-Medium";
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo-Medium")format("svg");
}

/* GENERAL */

:root {
    --space-around: 3%;
}

.wrapper {
    padding-left: var(--space-around);
    padding-right: var(--space-around);
}

#root {
    padding: var(--space-around);
}

/* HOME-PAGE */

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.griglia-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-top: 20px;
    margin-bottom: 100px;
    max-width: 1000px;
    width: 100%;
}

.scheda {
    cursor: pointer;
    text-decoration: none;
}

.scheda:hover {
    transition: all 300ms;
    transform: scale(1.05);
}

.immagine {
    background-color: #F2F2F2;
    border-radius: 5px
}

.immagine img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.scheda .info {
    display: flex;
    flex-direction: column;
}

#number{
    margin: 0;
    color: #919191;
    font-size: 80%;
    padding-top: 2px;
    font-family: "Flexo-Bold", arial, sans-serif;
}

#name {
    font-family: "Flexo-Demi", arial, sans-serif;
    color: #313131;
    text-transform: capitalize;
    font-size: 145%;
    margin-bottom: 5px;
}

.abilita {
    font-family: "Flexo-Medium", arial, sans-serif;
    line-height: 18px;
    width: 100%;
    font-size: 11px;
    display: flex;
    gap: 5px;
}

.single-type {
    border-radius: 6px;
    width: 55px;
    display: flex;
    justify-content: center;
}

.box-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-button .add-pokemon {
    font-size: 100%;
    font-family: "Flexo-Demi", arial, sans-serif;
    border-radius: 5px;
    line-height: 125%;
    text-align: center;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    background-color: #30a7d7;
    color: #fff;
}

.box-button .add-pokemon:hover {
    background-color: #1b82b1
}

@media screen and (max-width: 825px){
    .griglia-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px){
    .griglia-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 425px){
    .griglia-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .immagine img {
        width: 60%;
    }

    .immagine {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 310px){
    .box-button .add-pokemon {
        line-height: 100%;
        padding: 13px 30px;
    }
}


/* SINGLE-POKEMON */

.content-single-pokemon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.single-pokemon {
    max-width: 950px;
    width: 100%;
}

.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-title #name {
    margin: 0;
    font-size: 225%;
    padding-right: 20px;
}

.box-title #number {
    font-size: 225%;
    color: #616161;
    font-weight: normal;
    font-family: "Flexo-Medium", arial, sans-serif;
}

.box-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    gap: 40px;
}

.box-info .col-1, .box-info .col-2 {
    width: 50%;
    position: relative;
}

.box-info .immagine {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-info .immagine img{
    width: 80%;
    height: auto;
}

.box-info .dettaglio {
    background-color: #a4a4a4;
    border-radius: 10px;
    width: 100%;
    font-family: "Flexo-Medium", arial, sans-serif;
    color: #313131;
    padding: 5px 17px;
    margin-top: 20px;
    box-sizing: border-box;
}

.box-info .col-2 .caratteristiche {
    background-color: #30a7d7;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 20px 30px 30px 30px;
    font-family: "Flexo-Medium", arial, sans-serif;
    font-weight: normal;
}

.box-info .caratteristiche p {
    color: #fff;
    font-size: 100%;
    text-transform: capitalize;
}

.box-info .caratteristiche h4 {
    color: #212121;
    font-size: 125%;
    margin: 0;
}

#gender #img {
    display: flex;
}

#gender #img .svg {
    padding-right: 20px;
}

#gender #img .svg.true{
    display: block;
}

#gender #img .svg.false{
    display: none;
}

#frase, .tipo, .debolezze {
    font-family: "Flexo-Medium", arial, sans-serif;
    color: #212121;
    font-size: 112.5%;
    line-height: 150%;
    margin: 20px 0px;
}

.tipo .abilita .single-type, .debolezze .single-type{
    width: 30%;
    height: 35px;
    align-items: center;
    width: 100%;
}

.tipo .abilita, .debolezze .abilita {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    font-size: 15px;
    padding-top: 10px;
}
